[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "minidown"]
	path = minidown
	url = https://github.com/atusy/minidown
	shallow = true
	registered = true
[submodule "ftExtra"]
	path = ftExtra
	url = https://github.com/atusy/ftextra
	shallow = true
	registered = true
[submodule "chunkhooks"]
	path = chunkhooks
	url = https://github.com/atusy/chunkhooks
	shallow = true
	registered = true
[submodule "felp"]
	path = felp
	url = https://github.com/atusy/felp
	shallow = true
	registered = true
